@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap'); *
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  h1 {
    color: #fccf95;
  }

  .backgroundImage {
  
    background-image: url("/Uppg2/pizza.jpg");
    background-repeat: no-repeat;
    background-size: 100%;  
    background-color: #202020;
  }
  
  .parallax { 
    background-image: url("/Uppg2/pizza.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
      background-color: #202020;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Big Shoulders Text', cursive; 
  }
  
  nav {
    display: flex; 
	flex-direction: row; 
	justify-content: center; 
	position: absolute; 
	z-index: 100; 
	left: 0; 
	width: 100%; 
   
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #202020;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    padding: 12px 12px 13px 12px;
    color: #fccf95;
    text-decoration: none;
    font-size: 25px;  }
  
  nav li a:hover {
    background-color: #fccf95;
    color: #F7F6F3;
  }
  
  article.logo{
    text-align: center;
    background-color: #202020;
    color: #fccf95;
    padding: 15px;
    font-size: 60px;
    font-family: 'Big Shoulders Text', cursive; 
  }
  
  article.alt {
    margin-top: 600px;
    margin-bottom: 500px;
    background-color: #202020a9;
    color: #ffffff;
    text-align: center;
    padding: 15px;
  }

  .alt h1{
    font-size: 40px;
    font-family: 'Big Shoulders Text', cursive;
    text-transform: uppercase;
  }

  .alt p{
    font-size: 22px;
    font-family: 'Big Shoulders Text';
    letter-spacing: 2px;
    
}

  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #202020;
  }
  
  footer ul {
    padding-top: 50px;
    color: #fccf95;
    margin: 10px 50px;
    text-align: center;
    line-height: 1.2;
    list-style: none;
    font-family: 'Big Shoulders Text';
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 2px;
  }

  footer li h3 {
    margin-bottom: 6px;
  }
  